[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
djangorestframework-jwt = "*"
pillow = "*"
redis = "*"
celery = "*"
six = "*"
stripe = "*"
gunicorn = "*"
helpers = "*"
decouple = "*"
dotenv = "*"
django-storages = "*"
django-allauth = {extras = ["socialaccount"], version = "*"}
django-allauth-ui = "*"
django-widget-tweaks = "*"

[dev-packages]

[requires]
python_version = "3.12"
