{% extends 'base.html' %}
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
{% block content %}
<div>
    {% if request.user.is_authenticated %}
    You are a User. Welcome {{ request.user }}
    {% else %}
    You are not authorized, try signing in again!!
        <p>Login here!! <a href="{% url 'signin' %}">Sign In</a></p>

    {% endif %}
</div>
{% endblock %}
</body>